<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/style.css">
<title>Моя первая HTML страница</title>
</head>
<body>
<h1 class="text-monospace">Моя первая HTML страница</h1>
<p>Привет, мир!</p>


<p>Студенты</p>

<table>
    <tr>
        <td>{{name}}</td>
        <td>{{lastname}}</td>
        <td>{{age}}</td>
        <td>{{rating}}</td>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.age}}</td>
        <td>{{student.rating}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>


